<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload de Arquivos em NodeJs e Cloudinary By BlackBeard</title>
</head>
<body>
    <h1>Upload de Arquivos em NodeJs e Cloudinary By BlackBeard</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="photos">Selecione uma foto</label>
        <input type="file" id="photos" name="cover">
        <br><br>
        <label for="title">Digite um titulo</label>
        <input type="text" name="title" id="title" />
        <br><br>
        <input type="submit" value="Enviar" />
    </form>
</body>
</html>